body{
    /* background-color: #8AD0E6;  */
    font-family:  'Nunito', sans-serif;
    
}

.navbar{
   background-color: #24305E;
  position: fixed;
  z-index: 1;
}


#scroll-down{
    font-size: 47px;
    margin-left: 450px;
    color: #F76C6C;
    cursor: pointer;
}

#parallax-white-section{
    height: 150px;

}

#books-lighting{
  background-position: center; 
  background-repeat: no-repeat; 
  background-size: cover; 
}

.header{
    font-size: 96px;
    text-align: center;
    margin-top: 50px;
    color:#F76C6C;
    border-top: 3px solid #24305E;
    border-bottom: 3px solid #24305E;
}

/* #parallax-title{
    font-size: 86px;
    margin-left: -58px;
    margin-top: 20px;
    color:#F76C6C;
    border-top: 8px solid #24305E;
    border-bottom: 5px solid #24305E;
    border-width: medium;
}

#parallax-title-informative{
    font-size: 96px;
    text-align: center;
    margin-top: 50px;
    color:#F76C6C;
    border-top: 3px solid #24305E;
    border-bottom: 3px solid #24305E;
    
} */

#lewis-attribute{
font-size: 76px;
margin-left: 125px;
margin-top: 135px;
color: #24305E;
width: 820px;
/* z-index:-100; */
}

li{
    position: sticky;
}

.row{
    position: sticky;
    z-index:0;
}

.random-prompt-title{
    text-decoration: underline;
}

#info-writing-section{
    background-color:#F76C6C;
}

#opinion-writing-section{
    /* background-color: #F8E9A1; */
    background-color: #374785;
}

#narrative-writing-section{
    background-color:#F76C6C;
}

#choice-title{
    text-align: center;
    font-size: 80px;
    margin-top: 80px;
}

#card-area{
    height: 500px;
    margin-top: 50px;
}

.card{
color:black;
font-size: 16px;
}

.card-titles{
    font-size: 48px;
    /* margin-bottom: 80px; */
    color: white;
}


#icon-section{
    margin: 160px 20px 0px 20px;

}

#icons-row{
    text-align: center;
    font-size: 65px;
    color: #24305E;
    cursor: pointer;
    /* margin-right: 15px; */
}

#editing-column{
font-size: 40px;
color: #F76C6C;
}

.column-descriptions{
    font-size: 20px;
    justify-content: center;
    margin: auto;
}

#choice-title{
    color:#24305E;
    margin-top: 180px;
}

#topic-button{
    background-color:#F76C6C;
    /* background-color: none; */
    border-radius: 25px;
}

#footer-row{
    background-color: #24305E;
    height: 200px;
    margin-top: 400px;
}

#footer-bottom{
background-color:#F76C6C
}

/**INFORMATIVE WRITING SECTION **/

#wilde-attribute{
font-size: 58px;
margin-left: 105px;
margin-top: 90px;
color: #24305E;
width: 820px;
}

#text-structure-heading{
    font-size: 90px;
    text-align: center;
    color:#F76C6C;
}

#text-structure-define{
    font-size: 24px;
    margin: 0px 170px 0px 170px;
    padding: 30px;
}

.text-structure-list{
    text-align: center;
    color: #24305E;
}

.text-structure-modal-title{
    text-decoration: underline;
}

#learn-more-button{
 background-color:#F76C6C;
    border-radius: 25px;  
}

.modal-subtopics{
    font-size: 28px;
}

/* OPINION WRITING SECTION */






/**OPINION WRITING SECTION **/

.modal{
text-align: left;
}

.list-items{
    font-size: 32px;
    margin-left: 20px;
}

#slicer-attribute{
font-size: 58px;
margin-left: 105px;
margin-top: 90px;
color: #24305E;
width: 820px;
}