body{
    /* background-color: #8AD0E6;  */
    font-family:  'Nunito', sans-serif;
    
}

.navbar{
   background-color: #24305E;
  position: fixed;
}

#parallax-white-section{
    height: 300px;

}
#books-lighting{
  background-position: center; 
  background-repeat: no-repeat; 
  background-size: cover; 
}

#cs-lewis-quote{
    font-size: 90px;
    margin-top: 10px;
    color:#F76C6C;
}
#lewis-attribute{
    font-size: 75px;
margin-left: 415px;
margin-top: 20px;
color:#24305E;

}

#info-writing-section{
    background-color:#F76C6C;
}

#opinion-writing-section{
    /* background-color: #F8E9A1; */
    background-color: #374785;
}

#narrative-writing-section{
    background-color:#F76C6C;
}

.card{
color:black;
font-size: 16px;
}

/* p{
    margin-bottom: 20px;
} */


.card-titles{
    font-size: 48px;
    /* margin-bottom: 80px; */
    color: white;
}

#button{
    background-color:#F76C6C;
}